employee-api/src/main/mule/implementations/fetch-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="get:\fetch-employee:employee-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="41311fd6-d397-4e7e-8d98-63f4a223004b" message='#["Started fetch Employee Flow"]'/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  empID: 7,
  empName: "siddhant",
  empAddress: "Dehradun",
  empJob: "Project Trainee"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
	